# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel/

# firebase/service account secret
serviceAccount.json
src/app/api/send-notification/serviceAccount.json
**/serviceAccount.json

# android build output
android/out/
android/app/build/
android/.gradle/
android/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db